body, html {
  height: 100%;
  font-family: Arial;
  font-size: 13px;
}

.pagediv{
	position: relative;
 	height: 100%;
 	min-height: 460px;
}

.top {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 60px;
	width: 100%;
	min-width: 980px;
}
.navbar {
  list-style: none;
  right: 32px;
  top: 24px;
}
.navbar li {
  float:right;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: 404040;
}

a:hover {
  text-decoration: underline;
}

a:visited, a:link{
	color: #666;
}

#app {
  position: relative;
  top: -4px;
}
#app:hover {
  	opacity: .7;
}

#sign_in {
  color: #fff;
  background-color: #4584ed;
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-weight: bold;
  padding: 6px 12px;
}

#sign_in:hover {
  cursor: default;
  text-decoration: none;
}

.center {
  position: absolute;
  text-align: center;
  min-height: 221px;
  width: 100%;
	min-width: 980px;
  top: 90px;
	left: 50%;
	margin-left: -50%;
}


.searchbar {
  border: 1px solid #4684ee;
	width: 575px;
	height: 40px;
	line-height: 18px;
	padding: 0 0 0 8px;
}

.searchbutton {
  margin-top: 32px;
  margin-left: 5px;
  text-align: center;
  color: #757575;
  background-color: #f4f4f4;
  font-weight: 700;
  font-family: Arial;
  font-size: 13px;
  border:1px solid transparent;
  border-radius: 2px;
  height: 37px;
  width: 135px;
}

.searchbutton:hover {
  border: 1px solid #bbb;
  color:#000;
}
p {
  margin-top: 32px;
}

#language {
  color: #1a0dab;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  list-style-type: none;
  background-color: #e8e8e8;
  border-top: 1px solid #e3e3e3;
  font-family: Arial;
  font-size: 13px;
  text-align: center;
}



.left_footer li {
  display: inline;
  float: left;
  margin-top: 14px;
  margin-left: 29px;
}

.right_footer li {
  display: inline;
  float: right;
  margin-top: 14px;
  margin-right: 29px;
}
